/***root variables***/
:root {
    --header-height: 40px;
}

/***global style***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: var(--header-height);
    background-color: beige;
}

body.loaded {
    filter: blur(0);
}

#blur-container {
    filter: blur(10px);
    transition: filter 3s ease;
}

#blur-container.loaded {
    filter: blur(0);
}

/***header***/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px 10px 80px;
    z-index: 100;
    background-color: orange;
    height: var(--header-height);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* リンクの見た目 */
nav ul li a {
    text-decoration: none; /* 下線を消す */
    color: #333; /* 文字色 */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

/***Wedding Profile***/
#wedding_profile h1 {
    text-align: left; /*テキスト左揃え*/
    font-family: "Pacifico", cursive; /*筆記体*/
    /*border-bottom: 2px dotted gray; /*灰色の点線*/
    /*padding-bottom: 0.1px; 下線と文字の間に余白*/
    /*margin-bottom: 15px; /*見出しの下の余白*/
    font-size: 100; /*文字のサイズ*/
}

#greeting {
    text-align: center; /*テキスト中央揃え*/
}

/****最初の三枚の写真***/
#img_first {
    perspective: 700px;
}
#img_first_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    transform-style: preserve-3d;
    animation: rotateLeft 20s linear infinite;
}
.item1,
.item3 {
    width: 100px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.item2 {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

@keyframes rotateLeft {
    from {
        transform: rotateX(15deg) rotateY(0deg);
    }
    to {
        transform: rotateX(15deg) rotateY(-360deg);
    }
}

.item1,
.item2,
.item3 {
    animation: cancelRotation 20s linear infinite;
}

@keyframes cancelRotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/***Profile***/
#profile {
    display: flex;
    align-items: center;
}
#groom,
#bride {
    flex-grow: 1;
    text-align: center;
}
#Profile h1 {
    text-align: left; /*テキスト左揃え*/
    font-family: "Pacifico", cursive; /*筆記体*/
    border-bottom: 2px dotted gray; /*灰色の点線*/
    padding-bottom: 0.1px; /*下線と文字の間に余白*/
    margin-bottom: 15px; /*見出しの下の余白*/
    font-size: 100; /*文字のサイズ*/
}
#profile {
    text-align: center; /* テキストを中央揃え */
    margin: 40px auto; /* 上下に余白、左右は中央配置 */
    max-width: 500px; /* 最大幅を指定して読みやすく */
    padding: 20px; /* 内側の余白 */
}
#child1,
#child2 {
    text-align: center; /* テキストを中央揃え */
}

/***Profile text***/
#img_groom,
#img_bride {
    justify-content: center; /*中央揃え*/
}

/***Profile photo***/
#img_groom img,
#img_bride img {
    width: 150px; /*画像の横幅*/
    height: 150px; /*高さの縦幅*/
    border-radius: 100px; /*画像の角の丸み*/
    object-fit: cover;
    object-position: center top;
}

#impression {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

/***first_impression***/
#first_impression {
    width: 220px;
    height: 200px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/***title***/
#guest_seat h1 {
    text-align: left; /*テキスト左揃え*/
    font-family: "Pacifico", cursive; /*筆記体*/
    border-bottom: 2px dotted gray; /*灰色の点線*/
    padding-bottom: 0.1px; /*下線と文字の間に余白*/
    margin-bottom: 15px; /*見出しの下の余白*/
    font-size: 100; /*文字のサイズ*/
}

#photo h1 {
    text-align: left; /*テキスト左揃え*/
    font-family: "Pacifico", cursive; /*筆記体*/
    border-bottom: 2px dotted gray; /*灰色の点線*/
    padding-bottom: 0.1px; /*下線と文字の間に余白*/
    margin-bottom: 15px; /*見出しの下の余白*/
    font-size: 100; /*文字のサイズ*/
}

#img_photo_library {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}

/***PhotoLibrary***/
#img_photo_library img {
    width: 150px; /*画像の横幅*/
    height: auto; /*高さは自動調整*/
    border-radius: 10px; /*画像の角の丸み*/
}
